@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}
body{
    background-color: #fff;
    text-align: center;
    font-family: outfit;
    min-height: 100vh;
}
.logo{
    margin-top: 15px;
}
.sin-in-container{
    max-width: 380px;
    border: 1px solid #d2d2d2;
    margin: auto;
    margin-top: 15px;
    padding: 20px 26px;
    border-radius: 8px;
    text-align: left;
}
.sin-in-title{
    font-size: 24px;
    font-weight: 400;
}
.input-label{
    margin-top: 20px;
    font-size: 15px;
}
.sin-in-container input{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid #a0a0a0;
    font-size: 16px;
}
.sin-in-container input:focus{
    outline: 3px solid #c2f2ff;
}
.sin-in-container button{
    width: 100%;
    height: 35px;
    margin: 15px 0;
    background-color: #ffd814;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}
.sin-in-container button:hover{
    background-color: #ffd000;
}
.sin-in-condition{
    font-size: 14px;
}
.sin-in-condition a:hover{
    color: rgb(12, 12, 12);
}
hr{
    margin-top: 16px;
    opacity: 0.4;
}
.for-work{
    margin-top: 16px;   
    font-weight: 500;
}
.free-account{
    margin-top: 8px;
    color: rgb(12, 12, 168);
    font-size: 16px;
    font-weight: 350;
}
.free-account a{
    text-decoration: none;
}
.free-account a:hover{
   text-decoration: underline;
   color: rgb(0, 0, 0);
}
.foot-panel4{
    width: 100%;
    font-size: 0.8rem;
    line-height: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.788);
    border-top: 2px solid #d3d3d3 ;
    margin-top: 53px;
}
.foot-panel4 p{
    margin-top: 30px;
}